.list-block {
    margin: 100px auto;
    border: 2px solid greenyellow;
    padding: 50px;
    width: 800px;
    height: auto;
}

li {
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    color:#62842b;
}

h1 {
    margin: 0;
    font-style: normal;
}
p {
    margin-top: 0;
}
a:hover {
    color: #285230;
    text-decoration: dashed;
}